div.panel-body a.btn {
  white-space: normal; 
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover {
  background-color: #a41e35;
  border-color: #a41e35;
  color: #ffffff;
}

.btn-primary.focus:not(.active), .btn-primary:focus:not(.active) {
  background-color: #222222;
  border-color: #222222;
  color: #ffffff;
}

.nav > li > a:focus {
    background-color: initial;
}

div[name='software_list'] .tabulator-row.tabulator-selectable:hover {
  cursor: default!important;
}

#content #divAttachments:has(.js-attachments-body[data-attachments-count='0']) {
  display: none;
}

#divPageHeader button.settings-button.dropdown-toggle, #btnUserProfileMenu {
  color: #ffffff;
}

.form-group.input-group .select2-container {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.form-group.input-group label.input-group-addon {
  background-color: black;
  color: white;
}

.temple_toc-parent {
  width: 100%;
}

.temple_toc .list-group {
  margin-bottom: 0;
}

a.DetailAction:hover, button.DetailAction:hover {
  color: white;
}

@media only screen and (min-width : 768px) {
  #divMainContent + div.col-md-4 {
    position: sticky; 
    top: 60px;
  }
  
  #tool-sidebar {
    max-height: 90vh;
    overflow: auto;
  }
}

@media (min-width: 992px) {
  #divMstrHeader {
      position: relative!important;
  }
  #navShim {
    display: none!important;
  }

  #ctl00_ctl00_mainNav, #ctl00_mainNav, #mainNav {
    position: sticky;
    top: 0px;
    z-index: 10;
  }

  #ctl00_ctl00_mainNav .topLevelSearch, #ctl00_mainNav .topLevelSearch, #mainNav .topLevelSearch {
    float: right!important;
  }
}

@media only screen and (min-width : 767.9999999px) and (max-width : 991.9999999px){
  .temple_toc-parent {
    width: 300px;
    float: right;
  }
}

@media only screen and (max-width : 991.9999999px){
  div.row[name='homepage-grid'] div {
    padding-bottom: 10px;
  }
}

/* TU Alert Styling */

.tu-alert-wrapper {
	 margin: 0;
	 padding: 10px;
	 background: #fcb813;
	 display: flex;
	 flex-direction: column;
	 gap: 1rem;
	 width: 100%;
}
.tu-alert__title {
	 text-transform: uppercase;
	 font-weight: 700; padding-bottom: 5px;
}
.tu-alert__readmore {
	 color: #a41e35;
	 font-weight: 700;
	 text-decoration: underline;
}
 

.rss-container {
  float: none; 
  clear: both;
  padding-bottom: 15px;
}