div.panel-body a.btn {
  white-space: normal; 
}


.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover {
  background-color: #a41e35;
  border-color: #a41e35;
  color: #ffffff;
}
